biopython~=1.83
torch-geometric~=2.5.2
torch-scatter~=2.1.2
transformers~=4.40.2
datasets~=3.2.0 #for HF datasets
evodiff~=1.1.0
wandb~=0.16.6
python-dotenv~=1.0.1 # to load env variables

biotite~=0.40.0
blosum~=2.0.3
fair-esm~=2.0.0
lmdb~=1.4.1
mdanalysis~=2.7.0
mlflow
seaborn
pdb-tools~=2.5.0